body:not(.body_style_boxed) .vc_row[data-vc-full-width] {
    float: left;
}

html .wpb-js-composer .vc_tta.vc_tta-controls-align-left .vc_tta-panel-heading,
html .wpb-js-composer .vc_tta.vc_tta-controls-align-left .vc_tta-tabs-container {
    text-align: right;
}

.sc_services_timeline .sc_services_item_featured_top .sc_services_item_marker {
    left: auto;
    right: 0;
}

ul[class*="trx_addons_list_dot"] > li:before {
    right: -0.8em;
    left: auto;
}

.sc_testimonials [class*="column"] .sc_testimonials_item_content,
.sc_testimonials [class*="column"] .sc_testimonials_item_author {
    text-align: right;
}

.sc_testimonials_item_author {
    padding-left: 0.5em;
    padding-right: 0;
}

.sc_testimonials_item_author_data {
    padding-right: 0.5em;
}

.widget_area .post_item .post_thumb,
aside .post_item .post_thumb {
    float: right;
    margin-left: 1em;
    margin-right: 0;
}

.widget_area .post_item .post_info,
.widget .post_item .post_info,
.widget_area .post_item .post_title,
aside .post_item .post_title {
    text-align: right;
}

.trx_addons_dropcap {
    float: right;
}

.trx_addons_dropcap {
    margin-left: 0.5em;
    margin-right: 0;
}

ul[class*="trx_addons_list"] {
    padding-left: 0;
    padding-right: 1.2em;
}

ul[class*="trx_addons_list"] > li:before {
    right: -1em;
    left: auto;
}

ul.trx_addons_list_info > li:before,
ul.trx_addons_list_custom > li:before {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.sc_button + .sc_button {
    margin-left: 0;
    margin-right: 1em;
}

.vc_message_box-icon {
    left: auto;
    right: 0;
}

.post_type_donation.post_item_single .post_sidebar {
    float: right;
    margin-right: 0;
    margin-left: 1%;
}

.nav-links .nav-previous {
    text-align: left;
}

.comment_info [class^="trx_addons_icon-"]:before,
.comment_info [class*=" trx_addons_icon-"]:before {
    margin-left: 0.5em;
}

.tribe-events-gcal {
    margin-right: 0;
    margin-left: 1.25em;
}

.sc_services_timeline .sc_services_item_featured_top .sc_services_item_info,
.sc_services_timeline .sc_services_item_featured_bottom .sc_services_item_info {
    padding-left: 1.5em;
    padding-right: 0;
}

.single-tribe_events .tribe-venue-location .tribe-events-address .tribe-address br {
    display: none;
}

.sc_donations_info .sc_donations_scale_raised {
    margin-right: auto;
}

.tribe-events-venue-map .gmnoprint div[style*="position: relative; overflow: hidden; width: 67%; height: 1px; left: 16%;"],
.sc_googlemap .gmnoprint div[style*="position: relative; overflow: hidden; width: 67%; height: 1px; left: 16%;"] {
    left: auto;
    right: 16%;
}

.single-tribe_events .tribe-events-event-image {
    float: right;
    margin: 0.4em 0 2em 3%;
}


.tribe-events .tribe-events-calendar-month__multiday-event--start .tribe-events-calendar-month__multiday-event-bar {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 9.5px;
    border-top-right-radius: 9.5px;
}

.tribe-events .tribe-events-calendar-month__multiday-event--end .tribe-events-calendar-month__multiday-event-bar {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 9.5px;
    border-top-left-radius: 9.5px;
}

.mejs-container .mejs-controls {
    direction: ltr;
}



/* featured.css
--------------------------------------------------------------  */

.sc_layouts_featured.with_image.with_content:before {
    right: 0;
    left: auto;
}

.sc_layouts_featured.with_image .sc_layouts_featured_content {
    right: 50%;
    left: auto;
}




/* layouts.css
--------------------------------------------------------------  */

.sc_layouts_column .sc_layouts_item {
    margin-left: 1.5em;
    margin-right: auto;
}

.sc_layouts_column .sc_layouts_item:last-child {
    margin-left: 0 !important;
    margin-right: auto;
}

.sc_layouts_column_align_left .sc_layouts_item {
    margin-right: 1.5em;
    margin-left: 0;
}

.sc_layouts_column_align_left .sc_layouts_item:first-child {
    margin-right: 0 !important;
    margin-left: auto;
}

.sc_layouts_column_align_right,
.sc_layouts_column.sc_layouts_column_align_right .widget,
.sc_layouts_column.sc_layouts_column_align_right .widget_title,
.sc_layouts_column.sc_layouts_column_align_right .widgettitle {
    text-align: right;
}

.sc_layouts_column_align_left,
.sc_layouts_column.sc_layouts_column_align_left .widget,
.sc_layouts_column.sc_layouts_column_align_left .widget_title,
.sc_layouts_column.sc_layouts_column_align_left .widgettitle {
    text-align: left;
}

@media (max-width: 959px) {

    .sc_layouts_column .sc_layouts_item {
        margin-left: 1.25em;
        margin-right: auto;
    }

    .sc_layouts_column_align_left .sc_layouts_item {
        margin-right: 1.25em;
        margin-left: 0;
    }
}

/* Text with icons */

.sc_layouts_item_icon + .sc_layouts_item_details {
    margin-right: 0.5em;
    margin-left: auto;
}

.sc_layouts_column_icons_position_right .sc_layouts_item_details {
    text-align: right;
}

.sc_layouts_column_icons_position_left .sc_layouts_item_details {
    text-align: left;
}

.sc_layouts_column_icons_position_left .sc_layouts_item_icon {
    float: left;
    margin-right: 0.4em;
    margin-left: 0;
}

.sc_layouts_column_icons_position_left .sc_layouts_item_details {
    float: left;
}

/* Text with icons */
.sc_layouts_row_type_narrow .sc_layouts_item_details_line1 + .sc_layouts_item_details_line2 {
    margin-right: 0.5em;
    margin-left: auto;
}

/* Social icons */
.sc_layouts_row_type_narrow .socials_wrap {
    margin: 0 0 0 -8px;
}

.sc_layouts_row_type_narrow .socials_wrap .social_item {
    margin: 0 0 0 8px;
}

/* Text with icons */
.sc_layouts_row_type_compact .sc_layouts_item_details_line1 + .sc_layouts_item_details_line2 {
    margin-right: 0.5em;
    margin-left: auto;
}

/* Social icons */
.sc_layouts_row_type_compact .socials_wrap {
    margin: 0 0 0 -10px;
}

.sc_layouts_row_type_compact .socials_wrap .social_item {
    margin: 0 0 0 10px;
}

/* Fixed rows */
.sc_layouts_row_fixed_on {
    right: -15px;
    left: -15px;
}




/* menu.css
--------------------------------------------------------------  */

/* 1st level */
.sc_layouts_menu_nav {
    text-align: right;
    padding-right: 0 !important;
    padding-left: 0;
}

.sc_layouts_menu_nav > li {
    float: right;
}

.sc_layouts_menu_nav > li.menu-item-has-children > a {
    padding-left: 2em;
    padding-right: 0;
}

.sc_layouts_menu_nav > li.menu-item-has-children > a:after {
    left: 1em;
    right: auto;
}

.sc_layouts_menu_popup .sc_layouts_menu_nav > li.menu-item-has-children > a:after,
.sc_layouts_menu_nav li li.menu-item-has-children > a:after {
    left: 1em;
    right: auto;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.sc_layouts_menu_nav > li[class*="icon-"] > a {
    padding-right: 2em;
    padding-left: 0;
}

.sc_layouts_menu_nav > li[class*="icon-"]:before {
    right: 0.5em;
    left: auto;
}

.sc_layouts_menu_nav > li[class*="columns-"][class*="icon-"]:before {
    margin: 0 0.5em 0 0;
    float: right;
}

.sc_layouts_menu_nav > li[class*="columns-"][class*="icon-"] > a {
    float: right;
    margin-right: -1.5em;
    margin-left: auto;
}

.sc_layouts_menu_nav li[class*="image-"] > a {
    padding-right: 2.3em;
    padding-left: 0;
}

/* Submenu */
.sc_layouts_menu_popup .sc_layouts_menu_nav,
.sc_layouts_menu_nav > li ul {
    text-align: center;
}

.sc_layouts_menu_nav > li li[class*="icon-"] > a > span {
    padding-right: 1.5em;
    padding-left: 0;
}

.sc_layouts_menu_nav > li li[class*="icon-"]:before {
    right: 1.5em;
    left: auto;
}

.sc_layouts_menu_nav > li li[class*="image-"] > a {
    padding-right: 3em;
    padding-left: 0;
}

.sc_layouts_menu_nav > li > ul {
    left: auto;
    right: 0;
}

.sc_layouts_column_align_left .sc_layouts_menu_nav > li.menu-collapse > ul {
    right: auto;
    left: 0;
}

.sc_layouts_menu_popup .sc_layouts_menu_nav,
.sc_layouts_menu_popup .sc_layouts_menu_nav > li > ul,
.sc_layouts_menu_nav > li > ul ul {
    right: 13em;
    margin: 0 2px 0 0;
    left: auto;
}

.sc_layouts_menu_nav > li > ul ul ul {
    right: auto;
    margin: 0 0 0 2px;
    left: 13em;
}

.sc_layouts_menu_nav > li > ul ul.submenu_right {
    right: -13em;
    margin: 0 -2px 0 0;
    left: auto;
}

/* Multi-columns submenu */

.sc_layouts_menu_nav > li[class*="columns-"] > ul {
    right: 0;
    left: 0;
    margin-right: 0;
    margin-left: auto;
}

.sc_layouts_menu_nav ul li.columns-2 > ul.submenu_right {
    right: -26em;
    left: auto;
}

.sc_layouts_menu_nav ul li.columns-3 > ul.submenu_right {
    right: -39em;
    left: auto;
}

.sc_layouts_menu_nav ul li.columns-4 > ul.submenu_right {
    right: -52em;
    left: auto;
}

.sc_layouts_menu_nav ul li.columns-5 > ul.submenu_right {
    right: -65em;
    left: auto;
}


@media (max-width: 1279px) {

    .sc_layouts_menu_nav ul li.columns-4 > ul.submenu_right,
    .sc_layouts_menu_nav ul li.columns-5 > ul.submenu_right {
        right: -39em;
        left: auto;
    }
}

@media (max-width: 959px) {

    .sc_layouts_menu_nav ul li.columns-3 > ul.submenu_right,
    .sc_layouts_menu_nav ul li.columns-4 > ul.submenu_right,
    .sc_layouts_menu_nav ul li.columns-5 > ul.submenu_right {
        right: -26em;
        left: auto;
    }
}

.sc_layouts_menu_nav li[class*="columns-"] > ul ul {
    margin-right: 0;
    right: auto;
    left: auto;
    margin-left: auto;
}

/* Fixed rows
----------------------------------------------------- */

/* Menu popup
----------------------------------------------------- */

.sc_layouts_menu_popup {
    right: 50%;
    left: auto;
}

.sc_layouts_menu_popup .sc_layouts_menu_nav {
    right: 0;
    left: auto;
}

/* Menu collapse
----------------------------------------------------- */

.sc_layouts_menu_nav .menu-collapse > a:before {
    right: 1px;
    left: auto;
}

/* Zoom Line */

.menu_hover_zoom_line > ul > li > a:before {
    margin-right: 0.25em;
    right: 50%;
    left: auto;
    margin-left: auto;
}

/* right line */
.menu_hover_path_line > ul > li:before {
    right: 0.2em;
    left: auto;
}

/* left line */
.menu_hover_path_line > ul > li:after {
    left: 0.2em;
    right: auto;
}

/* top and bottom line */
.menu_hover_path_line > ul > li > a:before,
.menu_hover_path_line > ul > li > a:after,
.menu_hover_path_line > ul > li.menu-item-has-children > a:after {
    right: 0.2em;
    left: 0.2em;
}

/* Roll Down */
.menu_hover_roll_down > ul > li > a:before {
    right: 1.5em;
    left: 1.5em;
}

/* Color Line */
.menu_hover_color_line > ul > li > a:before,
.menu_hover_color_line > ul > li > a:after,
.menu_hover_color_line > ul > li.menu-item-has-children > a:after {
    right: 1.5em;
    left: 1.5em !important;
    -webkit-transform-origin: center right;
    -ms-transform-origin: center right;
    transform-origin: center right;
}


/* search.css
-------------------------------------------------------------- */

.search_wrap .search_field {
    padding: 0 1.25em 0 0 !important;
}

.sc_layouts_column_icons_position_left .search_wrap .search_field {
    padding: 0 0 0 1.25em !important;
}

.search_wrap .search_submit {
    right: 0;
    left: auto;
}

.sc_layouts_column_icons_position_left .search_wrap .search_submit {
    right: auto;
    left: 0;
}

.sc_layouts_row_type_normal .search_wrap .search_field {
    padding: 0 3em 0 1.5em;
}

.sc_layouts_row_type_normal .search_wrap .search_submit {
    right: 1em;
    left: auto;
}

.sc_layouts_row_type_normal .sc_layouts_column_icons_position_left .search_wrap .search_submit {
    right: auto;
    left: 1em;
}

.sc_layouts_row_type_normal .sc_layouts_column_icons_position_left .search_wrap .search_field {
    padding: 1em 1.5em 1em 3em;
}

/* Search style 'Expand' */

.search_style_expand.search_opened .search_field {
    padding-right: 1.75em !important;
    padding-left: 0;
}

.sc_layouts_column_icons_position_left .search_style_expand.search_opened .search_field {
    padding-right: 0 !important;
    padding-left: 1.75em !important;
}

.sc_layouts_row_type_normal .sc_layouts_column .search_style_expand:not(.search_opened) .search_submit {
    right: 0;
    left: auto;
}

/* Search style 'Fullscreen' */

.sc_layouts_row_type_normal .sc_layouts_column .search_style_fullscreen:not(.search_opened) .search_submit {
    right: 0;
    left: auto;
}

.search_style_fullscreen.search_opened .search_close {
    left: 0;
    right: auto;
}

.search_style_fullscreen.search_opened .search_form_wrap {
    right: 0;
    left: 0;
}

.search_style_fullscreen.search_opened .search_form {
    right: 50%;
    left: auto;
}

.search_style_fullscreen.search_opened .search_submit,
.sc_layouts_row_type_normal .sc_layouts_column .search_style_fullscreen.search_opened .search_submit {
    right: 0 !important;
    left: auto !important;
}

.search_style_fullscreen.search_opened .search_field,
.sc_layouts_row_type_normal .sc_layouts_column .search_style_fullscreen.search_opened .search_field {
    padding: 0 2em 0 0;
}

/* Search results */
.search_wrap .search_results {
    right: 0;
    text-align: right;
    left: auto;
}

.search_wrap .search_results:after {
    border-right: 1px solid #e5e5e5;
    right: 3em;
    left: auto;
    border-left: none;
}

.sc_layouts_column_align_left .search_wrap .search_results {
    right: auto;
    left: 1em;
}

.sc_layouts_column_align_left .search_wrap .search_results:after {
    right: auto;
    left: 3em;
}

.search_wrap .search_results .search_results_close {
    left: 3px;
    right: auto;
}




/* title.css
-------------------------------------------------------------- */

.sc_layouts_title_caption img {
    margin: -0.2em 0 0 0.2em;
}

.sc_layouts_title_meta .post_edit:before {
    margin-left: 0.5em;
    margin-right: auto;
}

.sc_layouts_title.with_image.with_content:before {
    right: 0;
    left: auto;
}

.sc_layouts_title.with_image .sc_layouts_title_content {
    right: 50%;
    left: auto;
}




/* js_composer.css
--------------------------------------------------------------  */

/* Accordion */
.vc_tta.vc_tta-accordion .vc_tta-panel-heading .vc_tta-controls-icon-position-right.vc_tta-panel-title > a {
    padding-right: 4.2em;
    padding-left: 0;
}

.vc_tta.vc_tta-accordion .vc_tta-panel-heading .vc_tta-controls-icon-position-left.vc_tta-panel-title > a {
    padding-left: 0;
    padding-right: 4.2em;
}

.vc_tta.vc_tta-accordion .vc_tta-panel-heading .vc_tta-controls-icon-position-right.vc_tta-panel-title > a > .vc_tta-controls-icon {
    right: 0;
    left: auto;
}

.vc_tta.vc_tta-accordion .vc_tta-panel-heading .vc_tta-controls-icon-position-left.vc_tta-panel-title > a > .vc_tta-controls-icon {
    left: auto;
    right: 0;
}

.vc_tta.vc_tta-accordion .vc_tta-controls-icon-position-right .vc_tta-controls-icon {
    right: 0;
    left: auto;
}

.vc_tta.vc_tta-accordion .vc_tta-controls-icon-position-left .vc_tta-controls-icon {
    left: 0;
    right: auto;
}

/* Tabs */

.vc_tta.vc_tta-color-grey.vc_tta-style-classic .vc_tta-tab + .vc_tta-tab {
    margin-right: 0.8em;
    margin-left: auto;
}

/* Separator */

/* Progress bar */

.vc_progress_bar.vc_progress_bar_narrow .vc_single_bar .vc_label .vc_label_units {
    left: 0;
    right: auto;
}

/* Message Box */
.vc_message_box {
    padding: 1em 4em 1em 0.875em;
}

.vc_message_box-solid-icon {
    padding-right: 7em;
    padding-left: 0;
}

.vc_message_box:not(.vc_message_box-solid-icon) .vc_message_box-icon > * {
    right: auto;
    left: 0.6em;
}

.vc_message_box_closeable:after {
    left: 0;
    right: auto;
}




/* mailchimp-for-wp.css
--------------------------------------------------------------  */

/* MailChimp for WP styles */
.mc4wp-form .mc4wp-form-fields input[type="submit"] {
    left: 0;
    right: auto;
}

body .mailchimp_form input[type="email"] {
    margin-left: 0;
    margin-right: auto;
}

.mailchimp_form input[type="email"] + button {
    margin-right: -9.563rem;
    margin-left: auto;
}

body .mailchimp_form input[type="email"] {
    padding-left: 10.563rem;
    padding-right: 1em;
}

@media (max-width: 479px) {
    .mailchimp_form input[type="email"] + button {
        margin-right: -7.563rem;
        margin-left: auto;
    }

    body .mailchimp_form input[type="email"] {
        padding-left: 8.563rem;
        padding-right: 1em;
    }
}




/* trx_addons.css
--------------------------------------------------------------  */

.menu_style_left .trx_addons_scroll_to_top {
    right: 2em;
    left: auto;
}

/* Layouts */
.menu_style_right .sc_layouts_row_fixed_on {
    margin-right: 6rem !important;
    margin-left: auto;
}

.menu_style_left .sc_layouts_row_fixed_on {
    margin-left: 6rem !important;
    margin-right: auto;
}

body.mobile_layout.menu_style_right .sc_layouts_row_fixed_on {
    margin-right: 0 !important;
    margin-left: auto;
}

body.mobile_layout.menu_style_left .sc_layouts_row_fixed_on {
    margin-left: 0 !important;
    margin-right: auto;
}

/* Search field inside content */

.post_item_none_search .search_wrap .search_field,
.post_item_none_archive .search_wrap .search_field {
    padding: 1.2em 1em 1em 3em;
}

.post_item_none_search .search_wrap .search_submit,
.post_item_none_archive .search_wrap .search_submit {
    right: auto;
    left: 0;
}

/* Controls */
.slider_container.slider_controls_side .slider_controls_wrap > .slider_prev,
.slider_outer_controls_side .slider_controls_wrap > .slider_prev {
    left: 1.2em;
    right: auto;
}

/* About Me */
.widget_aboutme .aboutme_username {
    text-align: right;
}

.widget_aboutme .aboutme_description {
    text-align: right;
}

/* Most Popular */
.widget .trx_addons_tabs .trx_addons_tabs_titles li + li {
    margin-right: 0.5em;
    margin-left: auto;
}

/* Categories list */
.widget_categories_list[class*="column-"] .categories_list_style_1 .categories_list_item,
.sidebar .widget_categories_list .categories_list_style_1 .categories_list_item {
    text-align: right;
}

.widget_categories_list[class*="column-"] .categories_list_style_1 .categories_list_title,
.sidebar .widget_categories_list .categories_list_style_1 .categories_list_title {
    text-align: right;
}

.widget_categories_list[class*="column-"] .categories_list_style_1 .categories_list_image + .categories_list_title,
.sidebar .widget_categories_list .categories_list_style_1 .categories_list_image + .categories_list_title {
    padding-right: 1em;
    padding-left: 0;
}

/* Recent News + Shortcode Recent News */
.sc_recent_news .post_accented_off .slider_pagination_wrap .swiper-pagination-bullet {
    margin-left: 3px;
    margin-right: auto;
}

/* Recent posts & Most Popular posts & Search Results */
.widget_area .post_item .post_info .post_info_item + .post_info_item:before,
.widget .post_item .post_info .post_info_item + .post_info_item:before {
    margin: 0 5px 0 0;
}

/* Twitter */
.widget_twitter .widget_content ul {
    padding-right: 2em;
    padding-left: 0;
}

.widget_twitter .widget_content ul > li {
    text-align: right;
}

.widget_twitter .widget_content ul > li:before {
    right: -1.5em;
    left: auto;
}

/* CV Card
---------------------------------------------- */
body.trx_addons_cv {
    margin-right: 0;
    margin-left: 0;
}

/* Hover effects
---------------------------------------------- */
.trx_addons_hover_mask {
    right: 0;
    left: 0;
}

.trx_addons_hover_content .trx_addons_hover_links a + a {
    margin-right: 0.7em;
    margin-left: auto;
}

/* Action */
.sc_action_item_link span[class*="icon-"] {
    margin-left: 0.6em;
    margin-right: auto;
}

.sc_action_item_ml .sc_action_item_inner {
    margin-left: 25em;
    margin-right: 2.3em;
}

.sc_action_item_ml .sc_action_item_link {
    left: 4.375em;
    right: auto;
}

/* Anchor */
.menu_side_icons #toc_menu {
    right: 0;
    left: auto;
}

.menu_side_icons .toc_menu_item:hover .toc_menu_description {
    margin-left: 0;
    margin-right: auto;
}

.menu_style_right .toc_menu_item .toc_menu_description {
    right: -20em;
    left: auto;
}

.menu_style_right .toc_menu_item:hover .toc_menu_description {
    right: 100%;
    left: auto;
}

/* Blogger */
.sc_blogger_item .sc_blogger_item_title {
    padding-right: 0.1em;
    padding-left: 0;
}

.sc_blogger_item .post_meta .post_meta_item.post_edit > a:before,
.sc_blogger_item .post_meta .post_meta_item.post_edit > a:after,
.sc_blogger_item .post_meta .post_meta_item:after,
.vc_inline-link:after {
    margin: 0 0.2em 0 0;
}

.sc_blogger_modern .sc_blogger_item .sc_blogger_item_content {
    right: 45%;
    left: auto;
}

.sc_blogger_default .sc_blogger_item .sc_blogger_item_content {
    text-align: right;
}

.sc_blogger_plain .sc_blogger_item .sc_blogger_item_content {
    text-align: right;
}

/* Events */
.sc_events_item_button:before,
.sc_events_item_button:after {
    right: 0;
    left: auto;
}

.sc_events_item_button:after {
    right: -30px;
    left: auto;
}

.sc_events_item:hover .sc_events_item_button:before {
    right: 30px;
    left: auto;
}

.sc_events_item:hover .sc_events_item_button:after {
    right: 0;
    left: auto;
}

.sc_events_default .sc_events_item_title,
.sc_events_default .sc_events_item_details {
    padding-left: 0;
    padding-right: 0;
}

.sc_events_default .sc_events_item_date {
    padding-right: 0.8em;
    text-align: right;
    padding-left: 0;
}

.sc_events_default .sc_events_item_date .sc_events_item_md_wrap {
    margin-right: 0.6em;
    margin-left: auto;
}

.sc_events_default .sc_events_item_td_wrap {
    text-align: right;
}

.sc_events_default div[class*="trx_addons_column-"] .sc_events_item_date {
    padding-right: 0;
    padding-left: 0;
}

.sc_events_default div[class*="trx_addons_column-"] .sc_events_item_td_wrap {
    text-align: right;
}

.sc_blogger_default .sc_blogger_item_wrap_featured_event .sc_events_item_date {
    right: 0.9em;
    left: auto;
}

.tribe-common--breakpoint-medium.tribe-events .tribe-events-c-search__input-control {
    margin-right: 0;
    margin-left: .75em;
}

.tribe-common--breakpoint-medium.tribe-events .tribe-events-c-search__input-control-icon-svg {
    right: 16px;
    left: auto;
}

.tribe-events .tribe-events-c-top-bar__nav-list-item {
    padding-right: 0;
    padding-left: 0.5em;
}

.tribe-common--breakpoint-medium.tribe-events .tribe-events-c-subscribe-dropdown {
	float: right;
	margin-right: auto;
	margin-left: 0;
}

.tribe-events .datepicker .prev .tribe-common-svgicon:before,
.tribe-common--breakpoint-medium.tribe-events .tribe-events-c-nav__prev:before,
.tribe-common .tribe-events-c-top-bar__nav-list .tribe-common-c-btn-icon.tribe-common-c-btn-icon--caret-left:before {
    content: '\e836';
}

.tribe-events .datepicker .next .tribe-common-svgicon:before,
.tribe-common--breakpoint-medium.tribe-events .tribe-events-c-nav__next:after,
.tribe-common .tribe-events-c-top-bar__nav-list .tribe-common-c-btn-icon.tribe-common-c-btn-icon--caret-right:before {
    content: '\e837';
}

.tribe-events .tribe-events-c-top-bar__datepicker-button-icon-svg {
    margin-left: 0;
    margin-right: 8px;
}

.tribe-common--breakpoint-medium.tribe-events .tribe-events-calendar-month__header-column-title {
    text-align: right;
}

.tribe-events .tribe-events-c-ical__link-icon-svg {
    margin-right: 0;
    margin-left: 8px;
}

.tribe-events .tribe-events-c-top-bar__datepicker-container {
    right: 0;
    left: auto;
}

.tribe-common .datepicker.datepicker-dropdown.dropdown-menu.datepicker-orient-left.datepicker-orient-bottom {
    left: auto !important;
    right: 0;
}

#tribe-bar-views-toggle{
	text-align: right;
}

.tribe-bar-views span[class^="tribe-icon-"] {
	padding-left: 0;
	padding-right: 16px;
	margin-left: 15px;
}

.tribe-events-calendar thead th + th::before {

	left: auto;
	right: 0;
}
#tribe-events-footer .tribe-events-sub-nav .tribe-events-nav-previous{
	float: right;
	text-align: right;
}
#tribe-events-footer .tribe-events-sub-nav .tribe-events-nav-next{
	float: left;
}

.tribe-events .tribe-events-calendar-list__month-separator:after {
    margin-left: 0;
    margin-right: 20px;
}

.tribe-common--breakpoint-medium.tribe-events .tribe-events-c-nav__next:after {
    margin-left: 0;
    margin-right: 10px;
}

.tribe-common--breakpoint-medium.tribe-events .tribe-events-c-nav__prev:before {
    margin-right: 0;
    margin-left: 10px;
}

.tribe-common .tribe-common-c-loader__dot:not(:first-of-type) {
    margin-left: 0;
    margin-right: 8px;
}

.tribe-events .tribe-events-c-ical {
    text-align: left;
}

.tribe-events .tribe-events-calendar-day__time-separator:after,
.tribe-events .tribe-events-calendar-day__type-separator:after {
    margin-left: 0;
    margin-right: 20px;
}

.tribe-events.tribe-events-view--day .tribe-events-c-nav__next:after {
    content: '\e837';
    margin-left: 0;
    margin-right: 10px;
}

.tribe-events.tribe-events-view--day .tribe-events-c-nav__prev:before {
    content: '\e836';
    margin-right: 0;
    margin-left: 10px;
}

.tribe-events-cal-links .tribe-events-gcal {
    margin-right: 0;
    margin-left: 1.25em;
}

#tribe-events .tribe-events-button:after,
.tribe-events-button:after,
.tribe-events-cal-links a:after {
    display: inline-block;
    content: '\e939';
    margin-left: 0;
    margin-right: 0.5em;
}

.tribe-events-single .tribe-events-sub-nav {
    padding-right: 0;
}

#tribe-events-footer .tribe-events-sub-nav .tribe-events-nav-next {
    text-align: left;
}

.tribe-events-sub-nav li.tribe-events-nav-next a {
    padding-right: 2.3em;
    padding-left: 3.3em;
}

.tribe-events-sub-nav li.tribe-events-nav-next a:after {
    display: none !important;
}

.tribe-events-sub-nav li.tribe-events-nav-next a:before {
    display: inline-block !important;
    width: 11px;
    content: '\e939' !important;
    font-family: 'fontello';
    position: absolute;
    left: 1.3em;
    margin: auto !important;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background: none !important;
}

.tribe-events-sub-nav li.tribe-events-nav-previous a {
    padding-left: 2.3em;
    padding-right: 3.3em;
}


.tribe-events-sub-nav li.tribe-events-nav-previous a::before,
.tribe-events-single .tribe-events-sub-nav .tribe-events-nav-previous a:before {
    display: none !important;
}

.tribe-events-sub-nav li.tribe-events-nav-previous a:after {
    display: inline-block !important;
    width: 11px;
    content: '\e93a' !important;
    font-family: 'fontello';
    position: absolute;
    right: 1.3em;
    margin: auto !important;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background: none !important;
}

.single-tribe_events .tribe-events-event-meta .tribe-events-meta-group {
    padding-right: 1px;
}

.tribe-events-single .tribe-events-sub-nav .tribe-events-nav-previous a:after,
.tribe-events-single .tribe-events-sub-nav .tribe-events-nav-next a:before {
    height: auto;
}

/* Form */
.sc_form_default .sc_form_field_button {
    text-align: right;
}

label.required span.sc_form_field_title:after {
    margin: -0.5em 0.5em 0 0;
}

/* Googlemap */
.sc_googlemap_content .sc_form_default .sc_form_details > div {
    padding-left: 0;
    padding-right: 0;
}

.sc_googlemap_content .sc_form_default .sc_form_field_message {
    padding-right: 0;
    padding-left: 0;
}

/* Services */
.sc_services_default .trx_addons_column-1_3:nth-child(1n+1) .sc_services_item {
    background-position: top left;
}

.sc_services_default .trx_addons_column-1_3:nth-child(3n+3) .sc_services_item {
    background-position: top right;
}

/* Skills */
.vc_row.vc_inner .sc_skills_counter .sc_skills_column + .sc_skills_column:before {
    right: 0;
    left: auto;
}

.vc_row.vc_inner .sc_skills_counter .sc_skills_item_wrap {
    padding: 3.4em 4em 0 0;
}

/* Testimonials */
.sc_testimonials_item_author_avatar {
    margin-right: 0;
    margin-left: auto;
}

/* Team */
.sc_team_default .sc_team_item_socials .social_item {
    margin: 0 0 3px 3px;
}

.sc_team_default .sc_team_item .sc_team_item_info {
    padding: 0 1.6em 0 0;
    text-align: right;
}

.team_member_page .team_member_socials .social_item {
    margin: 0 0 3px 3px;
}

.sc_countdown_default .sc_countdown_item ~ .sc_countdown_item {
    margin-right: 3%;
    margin-left: auto;
}

.sc_countdown_default .sc_countdown_label {
    margin: 0.51em 0.51em 0 0;
}

html .slider_container.slider_pagination_pos_bottom .swiper-pagination-bullet,
html .slider_outer.slider_outer_pagination_pos_bottom .swiper-pagination-bullet,
html .slider_outer.slider_outer_pagination_pos_bottom_outside .swiper-pagination-bullet {
    margin-right: 1px;
    margin-left: auto;
}




/* style.css
-------------------------------------------------------------- */

ol,
ul {
    padding-right: 1.5em;
    padding-left: 0;
}

/* Tables */
table th + th,
table th + td,
table td + th,
table td + td {
    border-right: 1px solid;
    border-left: none;
}

table {
    text-align: right;
}

/* Blockquotes*/
blockquote {
    text-align: right;
    padding: 4em 7.8em 3.2em 3.4em;
}

blockquote:before {
    right: 0.56em;
    left: auto;
}

/* Other tags */
dd {
    margin-right: 1.5em;
    margin-left: auto;
}

/* Images */
figure figcaption,
.wp-caption .wp-caption-text,
.wp-caption .wp-caption-dd,
.wp-caption-overlay .wp-caption .wp-caption-text,
.wp-caption-overlay .wp-caption .wp-caption-dd {
    left: 0;
    right: 0;
}

fieldset legend {
    right: 1.5em;
    left: auto;
}


/* Radio buttons and checkboxes */
input[type="radio"] + label,
input[type="checkbox"] + label,
input[type="radio"] + .wpcf7-list-item-label,
input[type="checkbox"] + .wpcf7-list-item-label,
.edd_price_options ul > li > label > input[type="radio"] + span,
.edd_price_options ul > li > label > input[type="checkbox"] + span {
    padding-right: 1.4em;
    padding-left: 0;
}

input[type="radio"] + label:before,
input[type="checkbox"] + label:before,
input[type="radio"] + .wpcf7-list-item-label:before,
input[type="checkbox"] + .wpcf7-list-item-label:before,
.edd_price_options ul > li > label > input[type="radio"] + span:before,
.edd_price_options ul > li > label > input[type="checkbox"] + span:before {
    right: 0;
    left: auto;
}

.select_container:before {
    left: 0;
    right: auto;
}

.sc_input_hover_accent .select_container::before {
    left: 2px;
    right: auto;
}

.select_container:after {
    left: 1em;
    right: auto;
}

.select_container select {
    padding-left: 3em !important;
    padding-right: 0;
}

.widget .select_container select {
    padding-left: 2em !important;
    padding-right: 0;
}

.widget .select_container:after {
    left: 0.5em;
    right: auto;
}

/* Select2 - Advanced select with search */

.select2-container.select2-container--default span.select2-choice,
.select2-container.select2-container--default span.select2-selection {
    padding: 0.5em 1.4em 0.5em 0;
}

/* WP styles and Screen readers */

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
    right: 5px;
    left: auto;
}

.alignright {
    float: right;
    margin-left: 2em;
    margin-right: auto;
}

.alignleft {
    float: left;
    margin-right: 2em;
    margin-left: auto;
}

.aligncenter {
    margin-right: auto !important;
    margin-left: auto !important;
}

/* Sticky posts */

.sticky .label_sticky {
    left: -14px;
    right: auto;
}

/* Gallery */

.post-password-form input[type="submit"] {
    margin-right: 0.2em;
    margin-left: auto;
}

/* Push columns */
.push-1_2,
.push-2_4,
.push-3_6,
.push-4_8,
.push-5_10,
.push-6_12 {
    right: 50%;
    left: auto;
}

.push-1_3,
.push-2_6,
.push-3_9,
.push-4_12 {
    right: 33.33333333%;
    left: auto;
}

.push-2_3,
.push-4_6,
.push-8_12 {
    right: 66.66666667%;
    left: auto;
}

.push-1_4,
.push-2_8,
.push-3_12 {
    right: 25%;
    left: auto;
}

.push-3_4,
.push-6_8,
.push-9_12 {
    right: 75%;
    left: auto;
}

.push-1_5,
.push-2_10 {
    right: 20%;
    left: auto;
}

.push-2_5,
.push-4_10 {
    right: 40%;
    left: auto;
}

.push-3_5,
.push-6_10 {
    right: 60%;
    left: auto;
}

.push-4_5,
.push-8_10 {
    right: 80%;
    left: auto;
}

.push-1_6,
.push-2_12 {
    right: 16.66666667%;
    left: auto;
}

.push-5_6,
.push-10_12 {
    right: 83.33333333%;
    left: auto;
}

.push-1_7 {
    right: 14.28571429%;
    left: auto;
}

.push-2_7 {
    right: 28.57142857%;
    left: auto;
}

.push-3_7 {
    right: 42.85714286%;
    left: auto;
}

.push-4_7 {
    right: 57.14285714%;
    left: auto;
}

.push-5_7 {
    right: 71.42857143%;
    left: auto;
}

.push-6_7 {
    right: 85.71428571%;
    left: auto;
}

.push-1_8 {
    right: 12.5%;
    left: auto;
}

.push-3_8 {
    right: 37.5%;
    left: auto;
}

.push-5_8 {
    right: 62.5%;
    left: auto;
}

.push-7_8 {
    right: 87.5%;
    left: auto;
}

.push-1_9 {
    right: 11.11111111%;
    left: auto;
}

.push-2_9 {
    right: 22.22222222%;
    left: auto;
}

.push-3_9 {
    right: 33.33333333%;
    left: auto;
}

.push-4_9 {
    right: 44.44444444%;
    left: auto;
}

.push-5_9 {
    right: 55.55555556%;
    left: auto;
}

.push-6_9 {
    right: 66.66666667%;
    left: auto;
}

.push-7_9 {
    right: 77.77777778%;
    left: auto;
}

.push-8_9 {
    right: 88.88888889%;
    left: auto;
}

.push-1_10 {
    right: 10%;
    left: auto;
}

.push-3_10 {
    right: 30%;
    left: auto;
}

.push-7_10 {
    right: 70%;
    left: auto;
}

.push-9_10 {
    right: 90%;
    left: auto;
}

.push-1_11 {
    right: 9.09090909%;
    left: auto;
}

.push-2_11 {
    right: 18.18181818%;
    left: auto;
}

.push-3_11 {
    right: 27.27272727%;
    left: auto;
}

.push-4_11 {
    right: 36.36363636%;
    left: auto;
}

.push-5_11 {
    right: 45.45454545%;
    left: auto;
}

.push-6_11 {
    right: 54.54545455%;
    left: auto;
}

.push-7_11 {
    right: 63.63636364%;
    left: auto;
}

.push-8_11 {
    right: 72.72727273%;
    left: auto;
}

.push-9_11 {
    right: 81.81818182%;
    left: auto;
}

.push-10_11 {
    right: 90.90909091%;
    left: auto;
}

.push-1_12 {
    right: 8.33333333%;
    left: auto;
}

.push-5_12 {
    right: 41.66666667%;
    left: auto;
}

.push-7_12 {
    right: 58.33333333%;
    left: auto;
}

.push-11_12 {
    right: 91.66666667%;
    left: auto;
}

/* Pull columns */
.pull-1_2,
.pull-2_4,
.pull-3_6,
.pull-4_8,
.pull-5_10,
.pull-6_12 {
    left: 50%;
    right: auto;
}

.pull-1_3,
.pull-2_6,
.pull-3_9,
.pull-4_12 {
    left: 33.33333333%;
    right: auto;
}

.pull-2_3,
.pull-4_6,
.pull-8_12 {
    left: 66.66666667%;
    right: auto;
}

.pull-1_4,
.pull-2_8,
.pull-3_12 {
    left: 25%;
    right: auto;
}

.pull-3_4,
.pull-6_8,
.pull-9_12 {
    left: 75%;
    right: auto;
}

.pull-1_5,
.pull-2_10 {
    left: 20%;
    right: auto;
}

.pull-2_5,
.pull-4_10 {
    left: 40%;
    right: auto;
}

.pull-3_5,
.pull-6_10 {
    left: 60%;
    right: auto;
}

.pull-4_5,
.pull-8_10 {
    left: 80%;
    right: auto;
}

.pull-1_6,
.pull-2_12 {
    left: 16.66666667%;
    right: auto;
}

.pull-5_6,
.pull-10_12 {
    left: 83.33333333%;
    right: auto;
}

.pull-1_7 {
    left: 14.28571429%;
    right: auto;
}

.pull-2_7 {
    left: 28.57142857%;
    right: auto;
}

.pull-3_7 {
    left: 42.85714286%;
    right: auto;
}

.pull-4_7 {
    left: 57.14285714%;
    right: auto;
}

.pull-5_7 {
    left: 71.42857143%;
    right: auto;
}

.pull-6_7 {
    left: 85.71428571%;
    right: auto;
}

.pull-1_8 {
    left: 12.5%;
    right: auto;
}

.pull-3_8 {
    left: 37.5%;
    right: auto;
}

.pull-5_8 {
    left: 62.5%;
    right: auto;
}

.pull-7_8 {
    left: 87.5%;
    right: auto;
}

.pull-1_9 {
    left: 11.11111111%;
    right: auto;
}

.pull-2_9 {
    left: 22.22222222%;
    right: auto;
}

.pull-3_9 {
    left: 33.33333333%;
    right: auto;
}

.pull-4_9 {
    left: 44.44444444%;
    right: auto;
}

.pull-5_9 {
    left: 55.55555556%;
    right: auto;
}

.pull-6_9 {
    left: 66.66666667%;
    right: auto;
}

.pull-7_9 {
    left: 77.77777778%;
    right: auto;
}

.pull-8_9 {
    left: 88.88888889%;
    right: auto;
}

.pull-1_10 {
    left: 10%;
    right: auto;
}

.pull-3_10 {
    left: 30%;
    right: auto;
}

.pull-7_10 {
    left: 70%;
    right: auto;
}

.pull-9_10 {
    left: 90%;
    right: auto;
}

.pull-1_11 {
    left: 9.09090909%;
    right: auto;
}

.pull-2_11 {
    left: 18.18181818%;
    right: auto;
}

.pull-3_11 {
    left: 27.27272727%;
    right: auto;
}

.pull-4_11 {
    left: 36.36363636%;
    right: auto;
}

.pull-5_11 {
    left: 45.45454545%;
    right: auto;
}

.pull-6_11 {
    left: 54.54545455%;
    right: auto;
}

.pull-7_11 {
    left: 63.63636364%;
    right: auto;
}

.pull-8_11 {
    left: 72.72727273%;
    right: auto;
}

.pull-9_11 {
    left: 81.81818182%;
    right: auto;
}

.pull-10_11 {
    left: 90.90909091%;
    right: auto;
}

.pull-1_12 {
    left: 8.33333333%;
    right: auto;
}

.pull-5_12 {
    left: 41.66666667%;
    right: auto;
}

.pull-7_12 {
    left: 58.33333333%;
    right: auto;
}

.pull-11_12 {
    left: 91.66666667%;
    right: auto;
}

/* Margin for the columns */
.offset-1_2,
.offset-2_4,
.offset-3_6,
.offset-4_8,
.offset-5_10,
.offset-6_12 {
    margin-right: 50%;
    margin-left: auto;
}

.offset-1_3,
.offset-2_6,
.offset-3_9,
.offset-4_12 {
    margin-right: 33.33333333%;
    margin-left: auto;
}

.offset-2_3,
.offset-4_6,
.offset-8_12 {
    margin-right: 66.66666667%;
    margin-left: auto;
}

.offset-1_4,
.offset-2_8,
.offset-3_12 {
    margin-right: 25%;
    margin-left: auto;
}

.offset-3_4,
.offset-6_8,
.offset-9_12 {
    margin-right: 75%;
    margin-left: auto;
}

.offset-1_5,
.offset-2_10 {
    margin-right: 20%;
    margin-left: auto;
}

.offset-2_5,
.offset-4_10 {
    margin-right: 40%;
    margin-left: auto;
}

.offset-3_5,
.offset-6_10 {
    margin-right: 60%;
    margin-left: auto;
}

.offset-4_5,
.offset-8_10 {
    margin-right: 80%;
    margin-left: auto;
}

.offset-1_6,
.offset-2_12 {
    margin-right: 16.66666667%;
    margin-left: auto;
}

.offset-5_6,
.offset-10_12 {
    margin-right: 83.33333333%;
    margin-left: auto;
}

.offset-1_7 {
    margin-right: 14.28571429%;
    margin-left: auto;
}

.offset-2_7 {
    margin-right: 28.57142857%;
    margin-left: auto;
}

.offset-3_7 {
    margin-right: 42.85714286%;
    margin-left: auto;
}

.offset-4_7 {
    margin-right: 57.14285714%;
    margin-left: auto;
}

.offset-5_7 {
    margin-right: 71.42857143%;
    margin-left: auto;
}

.offset-6_7 {
    margin-right: 85.71428571%;
    margin-left: auto;
}

.offset-1_8 {
    margin-right: 12.5%;
    margin-left: auto;
}

.offset-3_8 {
    margin-right: 37.5%;
    margin-left: auto;
}

.offset-5_8 {
    margin-right: 62.5%;
    margin-left: auto;
}

.offset-7_8 {
    margin-right: 87.5%;
    margin-left: auto;
}

.offset-1_9 {
    margin-right: 11.11111111%;
    margin-left: auto;
}

.offset-2_9 {
    margin-right: 22.22222222%;
    margin-left: auto;
}

.offset-3_9 {
    margin-right: 33.33333333%;
    margin-left: auto;
}

.offset-4_9 {
    margin-right: 44.44444444%;
    margin-left: auto;
}

.offset-5_9 {
    margin-right: 55.55555556%;
    margin-left: auto;
}

.offset-6_9 {
    margin-right: 66.66666667%;
    margin-left: auto;
}

.offset-7_9 {
    margin-right: 77.77777778%;
    margin-left: auto;
}

.offset-8_9 {
    margin-right: 88.88888889%;
    margin-left: auto;
}

.offset-1_10 {
    margin-right: 10%;
    margin-left: auto;
}

.offset-3_10 {
    margin-right: 30%;
    margin-left: auto;
}

.offset-7_10 {
    margin-right: 70%;
    margin-left: auto;
}

.offset-9_10 {
    margin-right: 90%;
    margin-left: auto;
}

.offset-1_11 {
    margin-right: 9.09090909%;
    margin-left: auto;
}

.offset-2_11 {
    margin-right: 18.18181818%;
    margin-left: auto;
}

.offset-3_11 {
    margin-right: 27.27272727%;
    margin-left: auto;
}

.offset-4_11 {
    margin-right: 36.36363636%;
    margin-left: auto;
}

.offset-5_11 {
    margin-right: 45.45454545%;
    margin-left: auto;
}

.offset-6_11 {
    margin-right: 54.54545455%;
    margin-left: auto;
}

.offset-7_11 {
    margin-right: 63.63636364%;
    margin-left: auto;
}

.offset-8_11 {
    margin-right: 72.72727273%;
    margin-left: auto;
}

.offset-9_11 {
    margin-right: 81.81818182%;
    margin-left: auto;
}

.offset-10_11 {
    margin-right: 90.90909091%;
    margin-left: auto;
}

.offset-1_12 {
    margin-right: 8.33333333%;
    margin-left: auto;
}

.offset-5_12 {
    margin-right: 41.66666667%;
    margin-left: auto;
}

.offset-7_12 {
    margin-right: 58.33333333%;
    margin-left: auto;
}

.offset-11_12 {
    margin-right: 91.66666667%;
    margin-left: auto;
}

.center-block {
    margin-right: auto;
    margin-left: auto;
}

.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

.vertical-centered:before {
    margin-right: -0.3em;
    margin-left: auto;
}

/* Content and Sidebar */

.sidebar_hide .content {
    margin-right: auto;
    margin-left: auto;
}

/* Fullwide or Fullscreen with sidebar */
.body_style_fullwide.sidebar_left .content,
.body_style_fullscreen.sidebar_left .content {
    padding-left: 410px;
    padding-right: 0;
}

.body_style_fullwide.sidebar_left .sidebar,
.body_style_fullscreen.sidebar_left .sidebar {
    margin-right: -370px;
    margin-left: auto;
}

.body_style_fullwide.sidebar_right .content,
.body_style_fullscreen.sidebar_right .content {
    padding-right: 410px;
    padding-left: 0;
}

.body_style_fullwide.sidebar_right .sidebar,
.body_style_fullscreen.sidebar_right .sidebar {
    margin-left: -370px;
    margin-right: auto;
}

/* Top panel */

.top_panel.with_bg_image:before {
    right: 0;
    left: 0;
}

/* Background video in the header */
#background_video {
    right: 50%;
    left: auto;
}

div#background_video:after {
    right: 0;
    left: auto;
}

div#background_video iframe,
div#background_video video {
    right: 50% !important;
    left: auto;
}

/* Header positions */

.header_position_over .top_panel {
    right: 0;
    left: auto;
}

.header_position_under .top_panel_mask {
    right: 0;
    left: auto;
}

/* Side menu
----------------------------------------------------------- */

body.menu_style_right {
    margin-right: 6rem;
    margin-left: auto;
}

body.menu_style_left {
    margin-left: 6rem;
    margin-right: auto;
}

.menu_style_side .menu_side_wrap {
    -webkit-transition: right 0.3s ease, left 0.3s ease;
    -ms-transition: right 0.3s ease, left 0.3s ease;
    transition: right 0.3s ease, left 0.3s ease;
}

.menu_style_right .menu_side_wrap {
    right: 0;
    left: auto;
}

.menu_style_left .menu_side_wrap {
    left: 0;
    right: auto;
}

.menu_side_wrap .menu_side_inner {
    right: 0;
    left: 0;
}

.menu_side_wrap .menu_mobile_button {
    right: 0;
    left: auto;
}

.menu_side_wrap .menu_side_button {
    -webkit-transition: right 0.3s ease, left 0.3s ease;
    -ms-transition: right 0.3s ease, left 0.3s ease;
    transition: right 0.3s ease, left 0.3s ease;
}

.menu_style_left .menu_side_wrap .menu_side_button {
    right: -1.5em;
    text-align: right;
    padding-right: 10px;
    left: auto;
    padding-left: 0;
}

.menu_style_right .menu_side_wrap .menu_side_button {
    left: -1.5em;
    text-align: left;
    padding-left: 10px;
    right: auto;
    padding-right: 0;
}

/* Mobile header
---------------------------------------- */

.top_panel_mobile .sc_layouts_column_align_left .sc_layouts_item {
    margin-right: 1em;
    margin-left: auto;
}

/* Mobile menu
---------------------------------------- */
body.mobile_layout.menu_style_right {
    margin-right: 0;
    margin-left: auto;
}

body.mobile_layout.menu_style_left {
    margin-left: 0;
    margin-right: auto;
}

body.mobile_layout.menu_style_left .menu_side_wrap {
    left: -6rem;
    right: auto;
}

body.mobile_layout.menu_style_right .menu_side_wrap {
    right: -6rem;
    left: auto;
}

body.mobile_layout.menu_style_left .menu_side_wrap.opened {
    left: 0;
    right: auto;
}

body.mobile_layout.menu_style_right .menu_side_wrap.opened {
    right: 0;
    left: auto;
}

body.mobile_layout.menu_style_right .menu_side_wrap .menu_side_button:hover {
    left: -2em;
    right: auto;
}

body.mobile_layout.menu_style_left .menu_side_wrap .menu_side_button:hover {
    right: -2em;
    left: auto;
}

.menu_mobile_close {
    left: 0;
    right: auto;
}

.menu_mobile_close:before,
.menu_mobile_close:after {
    right: 38%;
    left: auto;
}

.menu_mobile_overlay {
    right: 0;
    left: 0;
}

.menu_mobile {
    right: 0;
    left: auto;
}

.menu_mobile_inner {
    right: 0;
    left: 0;
}

.menu_mobile .menu_mobile_nav_area {
    right: 0;
    padding-left: 20px;
    left: auto;
    padding-right: 0;
}

.menu_mobile .menu_mobile_nav_area li > a {
    padding: 1px 0 1px 2.5em;
    text-align: right;
}

.menu_mobile .menu_mobile_nav_area > ul > li li > a {
    padding-right: 1em;
    padding-left: 0;
}

.menu_mobile .menu_mobile_nav_area > ul > li li li > a {
    padding-right: 2em;
    padding-left: 0;
}

.menu_mobile .menu_mobile_nav_area > ul > li li li li > a {
    padding-right: 3em;
    padding-left: 0;
}

.menu_mobile .menu_mobile_nav_area .open_child_menu {
    left: 0;
    right: auto;
}

.menu_mobile .search_mobile {
    right: 50%;
    margin-right: -14rem;
    left: auto;
    margin-left: auto;
}

.menu_mobile .search_mobile .search_field {
    padding: 1.3em 1.5em 1.3em 3em;
}

.menu_mobile .search_mobile .search_submit {
    right: auto;
    left: 0;
}

.menu_mobile .socials_mobile {
    right: 0;
    left: auto;
}

.menu_mobile .social_item {
    margin: 1em 0 0 1em;
}

/* Menu mobile 'Narrow' */

.menu_style_right .menu_mobile_narrow {
    margin-right: -320px;
    margin-left: auto;
}

.menu_style_right .menu_mobile_narrow.opened {
    margin-right: 0;
    margin-left: auto;
}

.menu_style_left .menu_mobile_narrow {
    margin-left: -320px;
    right: auto;
    left: 0;
    margin-right: auto;
}

.menu_style_left .menu_mobile_narrow.opened {
    margin-left: 0;
    margin-right: auto;
}

.menu_mobile_narrow .search_mobile {
    margin-right: -9rem;
    margin-left: auto;
}

/* Menu mobile in mobile layout */

.mobile_device .menu_mobile .search_mobile,
.mobile_layout .menu_mobile .search_mobile {
    right: 0;
    left: auto;
}

/* Tabs (internal and Essential Grid) */

div.esg-filter-wrapper .esg-filterbutton + .esg-filterbutton,
.mptt-navigation-tabs li + li,
div.shaha_tabs .shaha_tabs_titles li + li {
    margin-right: 3px;
    margin-left: auto;
}

/* Post featured block */

.post_featured_bg:before {
    margin-right: -0.3em;
    margin-left: auto;
}

.post_featured_left {
    float: left;
    margin-right: 4.3478%;
    margin-left: auto;
}

.post_featured_right {
    float: right;
    margin-left: 4.3478%;
    margin-right: auto;
}

/* Post info block */

.post_meta .post_meta_item {
    margin-right: 0;
    margin-left: auto;
}

/* Audio */
.trx_addons_audio_player .audio_author {
    margin-right: 0;
    margin-left: 0;
}


.format-audio .post_featured.with_thumb .post_audio {
    right: 6%;
    left: 6%;
    text-align: right;
}

/* Media elements hook for Safary */
.mejs-container .mejs-controls .mejs-button {
    text-align: right;
}

.mejs-container .mejs-controls .mejs-button button {
    right: 0;
    left: 0;
}

/* Aside, Link, Status, Quote */
.format-quote .post_content,
.format-aside .post_content,
.format-link .post_content,
.format-status .post_content {
    text-align: right;
}



.post_layout_excerpt .post_header .post_price {
    left: 0;
    right: auto;
}

/* Masonry and Classic */

.post_layout_classic blockquote {
    margin-right: 0;
    margin-left: 0;
}

.body_style_fullwide .post_layout_classic .post_header,
.body_style_fullwide .post_layout_classic .post_content {
    margin-right: auto;
    margin-left: auto;
}

/* Chess */

.post_layout_chess .label_sticky {
    right: -12px;
    left: auto;
}

.post_layout_chess .post_featured {
    float: left;
}

.post_layout_chess .post_inner {
    right: 0;
    left: auto;
}

.post_layout_chess .post_content_inner:after {
    right: 0;
    left: auto;
}

.post_layout_chess_1:nth-child(2n+2) .post_featured {
    float: right;
}

.post_layout_chess_1:nth-child(2n+2) .post_inner {
    right: auto;
    left: 0;
}

.post_layout_chess_2 {
    float: right;
}

.post_layout_chess_2:nth-child(4n+3) .post_featured,
.post_layout_chess_2:nth-child(4n+4) .post_featured {
    float: right;
}

.post_layout_chess_2:nth-child(4n+3) .post_inner,
.post_layout_chess_2:nth-child(4n+4) .post_inner {
    right: auto;
    left: 0;
}

.post_layout_chess_3 {
    float: right;
}

.post_layout_chess_3:nth-child(6n+4) .post_featured,
.post_layout_chess_3:nth-child(6n+5) .post_featured,
.post_layout_chess_3:nth-child(6n+6) .post_featured {
    float: right;
}

.post_layout_chess_3:nth-child(6n+4) .post_inner,
.post_layout_chess_3:nth-child(6n+5) .post_inner,
.post_layout_chess_3:nth-child(6n+6) .post_inner {
    right: auto;
    left: 0;
}

.masonry_wrap,
.portfolio_wrap {
    margin-left: -30px;
    margin-right: auto;
}

.masonry_wrap .masonry_item,
.post_layout_portfolio {
    padding: 0 0 30px 30px;
}

.post_layout_portfolio .label_sticky {
    right: -12px;
    left: auto;
}

/* Gallery */

.gallery_preview {
    right: 0;
    left: auto;
}

.gallery_preview:before {
    right: 0;
    left: auto;
}

.gallery_preview_description {
    right: 100%;
    left: auto;
}

.gallery_preview_close {
    left: 0;
    right: auto;
}

/* Blog pagination: Load more anf Infinite */

.nav-links-more a:before {
    right: 50%;
    margin-right: -0.5em;
    left: auto;
    margin-left: auto;
}

/* Blog pagination: Prev/Next links */
.nav-links-old .nav-prev {
    float: right;
    padding-right: 2em;
    padding-left: 0;
}

.nav-links-old .nav-prev a:before {
    right: 0;
    left: auto;
}

.nav-links-old .nav-next {
    float: left;
    padding-left: 2em;
    padding-right: 0;
}

.nav-links-old .nav-next a:after {
    left: 0;
    right: auto;
}

/* Blog pagination: Page numbers */
div.esg-pagination,
.comments_pagination,
.nav-links,
.page_links {
    text-align: right;
}

.page_links .page_links_title {
    margin-left: 1em;
    margin-right: auto;
}

div.esg-pagination .esg-pagination-button,
.page_links > span:not(.page_links_title),
.page_links > a,
.comments_pagination .page-numbers,
.nav-links .page-numbers {
    margin-left: 2px;
    margin-right: auto;
}

.nav-links .page-numbers.prev:before {
    content: '\E836';
}

.nav-links .page-numbers.next:before {
    content: '\E837';
}

/* Single page Prev/Next navigation */
.nav-links-single .nav-links {
    text-align: right;
}

.nav-links-single .nav-links a .nav-arrow {
    right: 0;
    left: auto;
}

.nav-links-single .nav-links a .nav-arrow:before {
    right: 0;
    left: auto;
}

.nav-links-single .nav-links .nav-next a .nav-arrow {
    left: 0;
    right: auto;
}

.nav-links-single .nav-links .nav-previous {
    float: right;
    text-align: right;
    padding-left: 15px;
    padding-right: 0;
}

.nav-links-single .nav-links .nav-previous a {
    padding-right: 6.5em;
    padding-left: 0;
}

.nav-links-single .nav-links .nav-previous .post-title {
    text-align: right;
}

.nav-links-single .nav-links .nav-next {
    float: left;
    text-align: left;
    padding-right: 15px;
    padding-left: 0;
}

.nav-links-single .nav-links .nav-next a {
    padding-left: 6.5em;
    padding-right: 0;
}

.nav-links-single .nav-links .nav-next .post-title {
    text-align: left;
}

/* Attachments navigation */
.image-navigation .nav-previous,
.image-navigation .nav-next {
    text-align: right;
    right: 1.5em;
    left: auto;
}

.image-navigation .nav-next {
    right: auto;
    left: 1.5em;
    text-align: left;
}

.image-navigation .nav-previous a:hover {
    padding-right: 3.5em;
    padding-left: 0;
}

.image-navigation .nav-next a:hover {
    padding-left: 3.5em;
    padding-right: 0;
}

.image-navigation .nav-previous a:after,
.image-navigation .nav-next a:after {
    right: 0;
    left: auto;
}

.image-navigation .nav-next a:after {
    right: auto;
    left: 0;
}

.post_item_single.format-aside .post_content,
.post_item_single.format-link .post_content,
.post_item_single.format-status .post_content {
    text-align: right;
}

/* Social share in the single post/page */

.post_item_single .post_content > .post_meta_single .post_share .social_item {
    margin: 0 0 0.5em 0.5em;
}

.author_avatar {
    right: 0;
    left: auto;
}

.author_description {
    padding-right: 12rem;
    padding-left: 0;
}

.related_wrap_title {
    text-align: right;
}

.related_wrap .post_categories li + li {
    margin-right: 0.5em;
    margin-left: auto;
}

/* Style 1 */
.related_wrap .related_item_style_1 .post_featured .post_header {
    right: 50%;
    left: auto;
}

/* Comment list */

.comments_list_wrap .comments_list_title {
    text-align: right;
}

.comments_list_wrap ul ul {
    margin-right: 6em;
    padding-right: 0;
    padding-left: 0;
    margin-left: 0;
}

.comments_list_wrap ul ul ul ul ul {
    margin-right: 0;
}

.comments_list_wrap .comment_author_avatar {
    right: 0;
    left: auto;
}

.comments_list_wrap .bypostauthor > .comment_body .comment_author_avatar:after {
    left: -14px;
    right: auto;
}

.comments_list_wrap .comment_content {
    padding-right: 6.2em;
    padding-left: 0;
}

.comments_list_wrap .comment_posted {
    margin-right: 1em;
    margin-left: auto;
}

.comments_list_wrap .comment_counters {
    margin-right: 1em;
    margin-left: auto;
}

.comments_list_wrap .comment_text ul {
    padding: 0 1.5em 0 0;
}

.comments_list_wrap .comment_text ol {
    padding: 0 1.5em 0 0;
}

.comments_list_wrap .comment_reply a:before {
    margin-left: 0.2em;
    margin-right: auto;
}

/* Trackbacks and pingbacks */
.comments_list > li.trackback {
    margin-right: 0;
    padding-right: 0;
    padding-left: 4em;
    margin-left: auto;
}

.comments_list > li.trackback .edit-link {
    left: 0;
    right: auto;
}

/* Comments form */

.comments_wrap .comments_form_title {
    text-align: right;
}

.comments_wrap #cancel-comment-reply-link:before {
    left: 0;
    right: auto;
}

.comments_wrap .comments_author,
.comments_wrap .comments_email {
    float: right;
}

.comments_wrap .comments_email {
    float: left;
}

/* Social login in the comment form */
.comments_form_wrap form .wp-social-login-widget {
    left: 0;
    right: auto;
}

/* Page 404 */
.post_item_404 .page_title {
    float: right;
}

.post_item_404 .page_info {
    float: right;
    text-align: right;
    padding: 0 5rem 0 0;
}

/* Common rules */
.widget ul {
    padding-right: 1.2em;
    padding-left: 0;
}

.widget ul ul ul ul {
    padding-right: 0;
    padding-left: 0;
}

.widget ul > li:before {
    right: -1.2em;
    left: auto;
}

/* Widget: Calendar */
.widget_calendar tbody td a:after {
    right: 48%;
    left: auto;
}

.widget_calendar td#prev {
    text-align: right;
}

.widget_calendar td#next {
    text-align: left;
}

.widget_calendar td#prev a {
    padding-right: 0.6em;
    padding-left: 0;
}

.widget_calendar td#next a {
    padding-left: 0.6em;
    padding-right: 0;
}

.widget_calendar td#prev a:before {
    left: auto;
    right: 0;
}

.widget_calendar td#next a:before {
    left: auto;
    left: 0;
}

/* Widget: Recent Posts */
.widget_recent_entries .post-date {
    margin-right: 0.5em;
    margin-left: auto;
}

/* Widgets: WP Search and bbPress Forums Search */
.widget_search form:after,
.widget_display_search form:after,
#bbpress-forums #bbp-search-form:after {
    left: 1.2em;
    right: auto;
}

.widget_search .search-field,
.widget_display_search #bbp_search,
#bbpress-forums #bbp-search-form #bbp_search {
    padding-left: 3em !important;
    padding-right: 0;
}

.widget_search input.search-submit,
.widget_display_search #bbp_search_submit,
#bbpress-forums #bbp-search-form #bbp_search_submit {
    left: 0;
    right: auto;
}

/* Widget: RSS */
.widget_rss .widget_title a {
    margin-left: 6px;
    margin-right: auto;
}

.widget_rss ul,
.widget_rss li {
    padding-right: 0;
    padding-left: 0;
}

/* Widgets: WP Tag Cloud */
.sc_edd_details .downloads_page_tags .downloads_page_data > a,
.widget_tag_cloud a {
    float: right;
    margin: 0 0 6px 6px;
}

/* Widget: Instagram */
ul.instagram-pics {
    margin-left: -5px;
    margin-right: auto;
}

ul.instagram-pics li {
    float: right;
    padding: 0 0 5px 5px;
}

/* Footer widgets */
.footer_wrap .vc_col-sm-4 .widget li {
    margin-left: 3%;
    margin-right: auto;
}

.footer_wrap .vc_col-sm-4 .widget li li {
    margin-left: 0%;
    margin-right: auto;
}

.footer_wrap .widget_title,
.footer_wrap .widgettitle {
    text-align: right;
}

/* Footer logo */
.footer_logo_inner:after {
    right: 50%;
    left: auto;
}

/* Menu in the default footer */
.menu_footer_nav_area > ul > li + li:before,
.footer_wrap .sc_layouts_menu > ul > li + li:before {
    border-right: 1px dotted #ddd;
    border-left: none;
}

.menu_footer_nav_area > ul > li.menu-item-has-children > a,
.footer_wrap .sc_layouts_menu > ul > li.menu-item-has-children > a {
    padding-left: 3.5em;
    padding-right: 0;
}

.mobile_layout .menu_footer_nav_area > ul > li.menu-item-has-children > a,
.mobile_layout .footer_wrap .sc_layouts_menu > ul > li.menu-item-has-children > a {
    padding-left: 2em;
    padding-right: 0;
}

.menu_footer_nav_area > ul > li.menu-item-has-children > a:after,
.footer_wrap .sc_layouts_menu > ul > li.menu-item-has-children > a:after {
    left: 2em;
    right: auto;
}

.mobile_layout .menu_footer_nav_area > ul > li.menu-item-has-children > a:after,
.mobile_layout .footer_wrap .sc_layouts_menu > ul > li.menu-item-has-children > a:after {
    left: 0.5em;
    right: auto;
}

.menu_footer_nav_area > ul > li ul ul,
.footer_wrap .sc_layouts_menu > ul > li ul ul {
    margin-right: 2px;
    margin-left: auto;
}

.menu_footer_nav_area > ul > li ul ul.submenu_right,
.footer_wrap .sc_layouts_menu > ul > li ul ul.submenu_right {
    margin-right: -2px;
    margin-left: auto;
}

/* Common settings */

.front_page_section > .customize-partial-edit-shortcut button {
    right: 2px !important;
    left: auto;
}

.front_page_section_buttons > .front_page_section_button {
    margin-left: 1em;
    margin-right: auto;
}

.front_page_section_buttons > .front_page_section_button + .front_page_section_button {
    margin-left: 0;
    margin-right: auto;
}

.front_page_section_columns .front_page_section_caption {
    text-align: right;
}

.front_page_section_columns .front_page_section_output,
.front_page_section_columns .front_page_section_content,
.front_page_section_columns .front_page_section_description {
    text-align: right;
}

/* Section 'Subscribe' */
.front_page_section_subscribe .front_page_section_output {
    margin-right: auto;
    margin-left: auto;
}

/* Customizer message */
.shaha_customizer_message {
    border-right: 3px solid #666600;
    border-left: none;
}

/* Debug window */
#debug_log {
    right: 0;
    left: auto;
}

#debug_log_close {
    left: 0;
    right: auto;
}

/* 13. Registration and Login popups
-------------------------------------------------------------- */
.popup_wrap {
    left: 0;
    right: auto;
}

.popup_registration {
    left: -5.5em;
    right: auto;
}

.popup_wrap .popup_close {
    left: 0;
    margin: 0.5em 0 0 0.5em;
    right: auto;
}

.popup_wrap .form_right {
    float: right;
    padding-left: 2.5em;
    border-left: 1px solid #e0e0e0;
    padding-right: 0;
    border-right: none;
}

.popup_wrap .form_left {
    float: left;
    padding-right: 2.5em;
    padding-left: 0;
}

.popup_wrap.popup_registration .form_right {
    padding-left: 5px;
    border-left: none;
    padding-right: 0;
    border-right: none;
}

.popup_wrap.popup_registration .form_left {
    padding-right: 5px;
    padding-left: 0;
}

.popup_wrap .popup_form_field.iconed_field:before {
    left: 8px;
    margin-left: 0;
    right: auto;
    margin-right: auto;
}

.popup_wrap .popup_form_field.iconed_field input {
    padding-left: 30px;
    padding-right: 0;
}

.popup_wrap .popup_form_field .forgot_password {
    float: left;
}

.popup_wrap .popup_form_field.submit_field {
    padding: 1em 4px 4px 0;
}

/* WPBakery Page Builder */
.sc_gap .vc_row {
    margin-right: 0;
    margin-left: 0;
}

.sc_gap .vc_column_container {
    padding-right: 0;
    padding-left: 0;
}

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
    left: -20px;
    right: auto;
}

/* Makeup image */
#makeup {
    right: 50%;
    left: auto;
}

#makeup {
    margin-right: 0;
    margin-left: auto;
}

/* Custom Layouts */
.sc_layouts.sc_layouts_574 .sc_content.extra-about-quote-mr-negative {
    margin-left: -4.1vw !important;
    margin-right: auto;
}

.shaha_about_quote .sc_content.extra-about-quote-mr-negative {
    margin-left: -4.1vw !important;
    margin-right: auto;
}

.sc_layouts.sc_layouts_744 > .vc_row {
    min-height: 40.3vw;
}

.sc_layouts.sc_layouts_744 > .vc_row .sc_content {
    padding-top: 7em !important;
    padding-bottom: 8em !important;
    padding-left: 5.3em !important;
    padding-right: 6em !important;
}

.sc_layouts.sc_layouts_744 > .vc_row .vc_col-sm-5 .sc_content {
    padding-left: 6em !important;
    padding-right: 6em !important;
}

.sc_layouts.sc_layouts_744 > .vc_row .sc_content {
    padding-right: 5.3em !important;
    padding-left: 6em !important;
}

.sc_layouts.sc_layouts_744 > .vc_row .vc_col-sm-5 .sc_content {
    padding-right: 6em !important;
    padding-left: 6em !important;
}

.shaha_welcome_to_boxed.vc_row .sc_content {
    padding-right: 5.3em !important;
    padding-left: 6em !important;
}

.shaha_welcome_to_boxed.vc_row .vc_col-sm-5 .sc_content {
    padding-right: 6em !important;
    padding-left: 6em !important;
}

.sc_layouts.sc_layouts_629 .sc_content .sc_skills.sc_skills_pie.sc_skills_compact_off .trx_addons_column-1_3 {
    padding-left: 1vw !important;
    padding-right: 30px !important;
}

.shaha_support_us .sc_content .sc_skills.sc_skills_pie.sc_skills_compact_off .trx_addons_column-1_3 {
    padding-left: 1.5vw !important;
    padding-right: 1.5vw !important;
}

/* Services images */
.sc_services_default .trx_addons_column-1_3:nth-child(1n+1) .sc_services_item {
    background-image: url(./images/services-bg-right.jpg);
}

.sc_services_default .trx_addons_column-1_3:nth-child(3n+3) .sc_services_item {
    background-image: url(./images/services-bg-left.jpg);
}

.sc_services_default .trx_addons_column-1_3:nth-child(3n+2) .sc_services_item {
    background-image: url(./images/services-bg-center.jpg);
}



/* theme.css
--------------------------------------------------------------  */

/* Menu */
.sc_layouts_menu_nav li li.menu-item-has-children > a:after {
    margin-right: 0.5em;
    margin-left: auto;
}

.sc_layouts_menu_nav > li ul {
    right: -7em;
    left: -7em;
    margin-right: auto;
    margin-left: auto;
}

.sc_layouts_menu_nav > li > ul:before {
    right: 0;
    left: 0;
}

/* Common rules */
.widget ul {
    padding-right: 0;
    padding-left: 0;
}

.widget ul ul {
    padding-right: 0.5em;
    padding-left: 0;
}

.widget ul ul ul ul {
    padding-right: 0;
    padding-left: 0;
}

.widget ul > li:before {
    right: -1.2em;
    left: auto;
}

/* Categories */

/* Recent Comments */

/* Tags */
.sc_edd_details .downloads_page_tags .downloads_page_data > a,
.widget_tag_cloud a {
    float: right;
    margin: 0 0 6px 6px;
}

/* 6. Typography & Shortcodes
-------------------------------------------------------------- */

/* Quote */
blockquote {
    text-align: right;
    padding: 8% 16.2% 8% 14%;
}

blockquote:before {
    right: 7%;
}

blockquote.trx_addons_blockquote_style_2 {
    padding: 1.3em 4em 0 0;
}

blockquote.trx_addons_blockquote_style_2:before {
    right: 0;
    left: auto;
}

.post_layout_excerpt blockquote {
    margin-right: 0;
    margin-left: 0;
}

/* Table */

.sc_table table th,
.sc_table table td {
    border-right: 1px solid;
    border-left: 1px solid;
}

.sc_table table tr:first-child th:last-child,
.sc_table table tr:first-child td:last-child {
    border-left: 1px solid #db9e30;
    border-right: none;
}

/* Tabs */

html .vc_tta.vc_tta-color-grey.vc_tta-style-classic .vc_tta-tab + .vc_tta-tab {
    margin-right: 3px;
    margin-left: auto;
}




/* responsive.css
-------------------------------------------------------------- */

@media (max-width: 1262px) {

    .sc_layouts.sc_layouts_744 > .vc_row .sc_content p br {
        display: none;
    }

    .shaha_welcome_to_boxed.vc_row .sc_content p br {
        display: none;
    }
}

@media (max-width: 1023px) {

    .sc_layouts.sc_layouts_744 > .vc_row .vc_col-sm-5 .sc_content {
        padding-left: 5vw !important;
        padding-right: 5vw !important;
    }

    .shaha_welcome_to_boxed.vc_row .vc_col-sm-5 .sc_content {
        padding-left: 5vw !important;
        padding-right: 5vw !important;
    }
}

@media (max-width: 959px) {

    .post_layout_chess_2:nth-child(4n+3) .post_featured,
    .post_layout_chess_2:nth-child(4n+4) .post_featured {
        float: left;
    }

    .post_layout_chess_2:nth-child(4n+3) .post_inner,
    .post_layout_chess_2:nth-child(4n+4) .post_inner {
        right: 0;
        left: auto;
    }

    .post_layout_chess_3:nth-child(6n+4) .post_featured,
    .post_layout_chess_3:nth-child(6n+5) .post_featured,
    .post_layout_chess_3:nth-child(6n+6) .post_featured {
        float: left;
    }

    .post_layout_chess_3:nth-child(6n+4) .post_inner,
    .post_layout_chess_3:nth-child(6n+5) .post_inner,
    .post_layout_chess_3:nth-child(6n+6) .post_inner {
        right: 0;
        left: auto;
    }

    .post_layout_chess:nth-child(2n+2) .post_featured {
        float: right;
    }

    .post_layout_chess:nth-child(2n+2) .post_inner {
        right: auto;
        left: 0;
    }

    .sc_layouts.sc_layouts_629 .sc_content .sc_skills.sc_skills_pie.sc_skills_compact_off .trx_addons_column-1_3 {
        padding-left: 0 !important;
    }

    .shaha_support_us .sc_content .sc_skills.sc_skills_pie.sc_skills_compact_off .trx_addons_column-1_3 {
        padding-left: 0 !important;
    }
}

@media (max-width: 767px) {

    .sc_action_item_ml .sc_action_item_inner {
        margin-right: 0;
        margin-left: 0;
        position: static;
    }

    .services-menu .vc_column-inner[class*="vc_custom"] {
        margin-right: 0 !important;
    }
}

@media (max-width: 639px) {

    .sc_events_default .sc_events_item_title,
    .sc_events_default .sc_events_item_details,
    .sc_events_default .sc_events_item_date {
        padding-right: 0;
        text-align: center;
    }

    .post_item_single .post_content > .post_meta_single .post_share .social_item:first-child {
        margin-left: .5em;
    }
}

@media (max-width: 479px) {

	.tribe-bar-views span[class^="tribe-icon-"] {
		margin-left: 5px;
  }

    .body_style_fullwide .content_wrap {
        padding-left: 30px;
        padding-right: 30px;
    }
}

form.mc4wp-form div.mcfwp-agree-input {
    text-align: right;
}

form.mc4wp-form label.mcfwp-agree-input span {
    margin-right: 1.5em;
}

span[class*='acceptance'].wpcf7-form-control-wrap {
    display: block;
    text-align: right;
}

span[class*='acceptance'].wpcf7-form-control-wrap span.wpcf7-list-item {
    margin: 0;
}

span[class*='acceptance'].wpcf7-form-control-wrap .wpcf7-list-item-label {
    display: block;
}

.mc4wp-form input[type="checkbox"] + span:before {
    right: 0;
}

.sc_countdown_content .sc_countdown_digits span {
    float: left
}

#trx_addons_login_popup label[for="i_agree_privacy_policy_registration"] {
    text-align: right;
}

.rtl .sticky .label_sticky {
    border-top-color: transparent !important;
}

.shaha_prayertimes .MPtimetable td,
.shaha_prayertimes_dark .MPtimetable td {
    text-align: right;
}

.shaha_prayertimes .MPtimetable td:nth-child(2),
.shaha_prayertimes_dark .MPtimetable td:nth-child(2) {
    text-align: left;
}

/* Styles for Give Form */
.give-donation-grid-item-form {
    text-align: right;
}

.give-donation-grid-item-form .give-donation-amount {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.give-donation-grid-item-form .give-total-wrap span {
    border-radius: 0 6px 6px 0 !important;
}

.give-donation-grid-item-form .give-total-wrap label {
    display: none !important;
}

.give-donation-grid-item-form .give-total-wrap .give-text-input {
    border-radius: 6px 0 0 6px !important;
    float: none !important;
}

.give-donation-grid-item-form #give-donation-level-radio-list > li {
    margin-left: 2.5em !important;
    margin-right: 0 !important;
}

.give-donation-grid-item-form #give-donation-level-radio-list > li:last-child {
    margin-left: 0 !important;
}

.give-donation-grid-item-form .give-submit-button-wrap .give-submit {
    float: right !important;
}

.give-donation-grid-item-form #give-final-total-wrap {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.give-donation-grid-item-form #give-final-total-wrap .give-donation-total-label,
.give-donation-grid-item-form #give-final-total-wrap .give-final-total-amount {
    float: none !important;
}

.give-donation-grid-item-form #give-final-total-wrap .give-final-total-amount {
    border-radius: 6px 0 0 6px !important;
    border-left: 1px solid #ccc !important;
}

.give-donation-grid-item-form #give-final-total-wrap .give-donation-total-label {
    border-radius: 0 6px 6px 0 !important;
}

.wpcf7 input[type="url"],
.wpcf7 input[type="email"],
.wpcf7 input[type="tel"] {
    direction: rtl;
}

header .sc_layouts_row_type_compact .sc_layouts_column_align_left .sc_layouts_item {
    margin-right: 1.5em !important;
}

header .sc_layouts_row_type_compact .sc_layouts_column_align_left .sc_layouts_item:first-child {
    margin-right: 0 !important;
}